header {
  width: 100%;
  height: 70px;
  background-color: aqua;
}
.container_navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.container_navigation ul {
  display: flex;
  list-style: none;
}
.container_navigation li {
  margin: 0 6px;
  cursor: pointer;
}
